/* Variables */
:root {
  --primary-color: #F0E3CA;
  --secondary-color: #FF8303; 
  --tertiary-color: #f1bf72;
  --dark-color: #1B1A17;
}

/* Palette Classes */
.primary-text {
  color: var(--primary-color);
}

.secondary-text {
  color: var(--secondary-color);
}

.tertiary-text {
  color: var(--tertiary-color);
}

.dark-text {
  color: var(--dark-color);
}

.primary-bg {
  background-color: var(--primary-color);
}

.secondary-bg {
  background-color: var(--secondary-color);
}

.tertiary-bg {
  background-color: var(--tertiary-color);
}

.dark-bg {
  background-color: var(--dark-color);
}

/* font styling */
.bold-text{
  font-weight: bold;
}